  <div class="social-icons">
    <ul class="list-inline">
      <li><a href="mailto:weichien711@gmail.com?Subject=Visiter from your website" target=_"blank"  ><i class="fa fa-envelope"></i></a></li>
      <li><a href="https://github.com/WeiChienHsu" target=_"blank"><i class="fa fa-github"></i></a></li>
      <li><a href="https://www.linkedin.com/in/weichien-hsu/" target=_"blank"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div> <!-- /.social-icons -->
</div><!-- /.container -->
    </body>
</html>