<% include partials/header %>
<h1>Create a NEW Campground</h1>
<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input tpye="text" name="image" placeholder="image URL">
    <button type="submit">Submit!</button>
</form>
<% include partials/footer %>